<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="businessAnnouncementMapper">
   
      <!-- 게시판 글 작성 -->
   <insert id="insert" useGeneratedKeys="false">
	   INSERT INTO EMP_BAM_ANC( BAM_ANC_IDX 
	   					      , BOARD_IDX 
	   					      , ANC_TITLE 
	   					      , ANC_REMARK
	   					      , ANC_BEGIN_DT
	   					      , ANC_END_DT
	   					      , WRITER
	   					       )
	                 VALUES(   SEQ_BAM_ANC_IDX.NEXTVAL
	                 		  , 1 
	                 		  , #{anc_title}
	                 		  , #{anc_remark}
	                 		  , #{anc_begin_dt}
	                 		  , #{anc_end_dt}
	                 		  , #{writer}
	                 		    )
	            <selectKey keyProperty="bam_anc_idx" resultType="int" order="AFTER">

        			SELECT SEQ_BAM_ANC_IDX.currval FROM dual

     			 </selectKey>
   
   </insert>
   
   
<select id="businessAnnouncementList" resultType="emp.bam.vo.BusinessAnnouncementVO" parameterType="emp.bam.util.SearchCriteria">
		SELECT  BAM_ANC_IDX 
	   					      , BOARD_IDX 
	   					      , ANC_TITLE 
	   					      , ANC_REMARK
	   					      , ANC_BEGIN_DT
	   					      , ANC_END_DT
	   					      , WRITER
	   					      , REG_DATE
	   					      , MOD_DATE
		 FROM ( 
		        SELECT BAM_ANC_IDX 
	   					      , BOARD_IDX 
	   					      , ANC_TITLE 
	   					      , ANC_REMARK
	   					      , ANC_BEGIN_DT
	   					      , ANC_END_DT
	   					      , WRITER
	   					      , REG_DATE
	   					      , MOD_DATE
		               ,ROW_NUMBER() OVER(ORDER BY BAM_ANC_IDX DESC) AS RNUM
		         FROM EMP_BAM_ANC
		         WHERE 1=1 
		         AND DEL_YN = 'N'
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BAM_ANC_IDX DESC
	</select>
		<select id="read" parameterType="int" resultType="emp.bam.vo.BusinessAnnouncementVO">
		SELECT	BAM_ANC_IDX 
	   					      , BOARD_IDX 
	   					      , ANC_TITLE 
	   					      , ANC_REMARK
	   					      , ANC_BEGIN_DT
	   					      , ANC_END_DT
	   					      , WRITER
	   					      , REG_DATE
	   					      , MOD_DATE
		 FROM EMP_BAM_ANC
		 WHERE BAM_ANC_IDX = #{bam_anc_idx}
	</select>
	
	<!--     <update id="update" parameterType="emp.bam.vo.BusinessAnnouncementVO">
		UPDATE MP_BOARD
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno} 
	</update> -->
	
	<!-- <delete id="delete" parameterType="int">
		DELETE 
		  FROM MP_BOARD
		 WHERE BNO = #{bno}
	</delete> -->
	
	<select id="listCount" parameterType="emp.bam.util.SearchCriteria" resultType="int">
		SELECT COUNT(BAM_ANC_IDX)
		   FROM EMP_BAM_ANC
		   WHERE 1=1
		   AND DEL_YN = 'N'
		<include refid="search"></include>	
		   AND BAM_ANC_IDX > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND ANC_TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND ANC_REMARK LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (ANC_TITLE LIKE '%' || #{keyword} || '%') or (ANC_REMARK LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	

	    <!-- <insert id="insertFile" parameterType="hashMap">
		INSERT INTO MP_FILE(
			FILE_NO,
			BNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_MP_FILE_NO.NEXTVAL,
			#{BNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert> -->


<!-- <select id="selectFileList" parameterType="int" resultType="hashMap">
	SELECT FILE_NO,
		   ORG_FILE_NAME,
		   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
	  FROM MP_FILE
	 WHERE BNO = #{BNO}
	   AND DEL_GB = 'N'
	   ORDER BY FILE_NO ASC
</select> -->


<!-- <select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
	SELECT 
		STORED_FILE_NAME,
		ORG_FILE_NAME
	FROM MP_FILE
	WHERE FILE_NO = #{FILE_NO}
</select>

    <update id="updateFile" parameterType="hashMap">
    	UPDATE MP_FILE SET
    	DEL_GB = 'Y'
    	WHERE FILE_NO = #{FILE_NO}
    </update> -->
      <insert id="businessEvaluationEdit" parameterType="hashMap" >
	   INSERT INTO EMP_BEM_BEVAL_FORM( BAM_ANC_IDX
	   						  , BEM_BEVAL_FORM_IDX
	   					      , BOARD_IDX 
	   					      , EVAL_FORM_TITLE 
	   					      , EVAL_FORM_ITEM
	   					      , EVAL_FORM_SCORE 
	   					      , REG_DATE
	   					      , MOD_DATE
	   					      
	   					       )
	                 VALUES(   #{bam_anc_idx}
	                 		  , SEQ_BEVAL_FORM_IDX.NEXTVAL
	                 		  , 1 
	                 		  , #{eval_form_title}
	                 		  , #{eval_form_item}
	                 		  , #{eval_form_score}
	                 		  , SYSDATE
	                 		  , SYSDATE
	                 		    )
	              
   
   </insert>
</mapper>
	
