<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="businessPlanMapper">
   
      <!-- 게시판 글 작성 -->
   <insert id="insert" >
	   INSERT INTO EMP_BPM_BPLAN( BPM_BPLAN_IDX 
	   					      , BOARD_IDX 
	   					      , RESEARCH_OBJ 
	   					      , RESEARCH_REMARK
	   					      , BENEFIT
							  , RESEARCH_COST	
	   					      , WRITER
	   					      , BAM_ANC_IDX
	   					   
	   					       )
	                 VALUES(   SEQ_BPM_BPLAN_IDX.NEXTVAL
	                 		  , 1 
	                 		  , #{research_obj}
	                 		  , #{research_remark}
	                 		  , #{benefit}
	                 		  , #{research_cost}
	                 		  , #{writer}
	                 		  , #{bam_anc_idx}
	                 		    )
   
   </insert>
   
   
<select id="businessPlanApplyList" resultType="emp.bpm.vo.BusinessPlanVO" parameterType="hashMap">
		SELECT  BPM_BPLAN_IDX 
	   					      , BOARD_IDX 
	   					      , RESEARCH_OBJ
	   					      , RESEARCH_REMARK
	   					      , BENEFIT
							  , RESEARCH_COST	
	   					      , WRITER
	   					      , REG_DATE
	   					      , MOD_DATE
		 FROM ( 
		        SELECT BPM_BPLAN_IDX 
	   					      , BOARD_IDX 
	   					      , RESEARCH_OBJ
	   					      , RESEARCH_REMARK
	   					      , BENEFIT
							  , RESEARCH_COST	
	   					      , WRITER
	   					      , REG_DATE
	   					      , MOD_DATE
		               ,ROW_NUMBER() OVER(ORDER BY BPM_BPLAN_IDX DESC) AS RNUM
		         FROM EMP_BPM_BPLAN
		         WHERE 1=1 
		         AND BAM_ANC_IDX = #{bam_anc_idx}
		         AND DEL_YN = 'N'
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BPM_BPLAN_IDX DESC
	</select>
		<select id="businessPlanApplyDetail" parameterType="int" resultType="emp.bpm.vo.BusinessPlanVO">
		SELECT	BPM_BPLAN_IDX 
	   					      , BOARD_IDX 
	   					      , RESEARCH_OBJ
	   					      , RESEARCH_REMARK
	   					      , BENEFIT
							  , RESEARCH_COST	
	   					      , WRITER
	   					      , REG_DATE
	   					      , MOD_DATE
		 FROM EMP_BPM_BPLAN
		 WHERE BPM_BPLAN_IDX = #{bpm_bplan_idx}
	</select>
	
	<!--     <update id="update" parameterType="emp.bam.vo.BusinessAnnouncementVO">
		UPDATE MP_BOARD
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno} 
	</update> -->
	
	<!-- <delete id="delete" parameterType="int">
		DELETE 
		  FROM MP_BOARD
		 WHERE BNO = #{bno}
	</delete> -->
	
	<select id="listCount" parameterType="emp.bpm.util.SearchCriteria" resultType="int">
		SELECT COUNT(BPM_BPLAN_IDX)
		   FROM EMP_BPM_BPLAN
		   WHERE 1=1
		   AND DEL_YN = 'N'
		<include refid="search"></include>	
		   AND BPM_BPLAN_IDX > 0
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND RESEARCH_OBJ LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND RESEARCH_REMARK LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (RESEARCH_OBJ LIKE '%' || #{keyword} || '%') or (RESEARCH_REMARK LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	

	   <insert id="insertFile" parameterType="hashMap">
		INSERT INTO EMP_FILE(
			FILE_IDX,
			BOARD_IDX,
			BOARD_LIST_IDX,
			FILE_FNAME,
			FILE_SNAME,
			FILE_SIZE
		)VALUES(
			SEQ_EMP_FILE_NO.NEXTVAL,
			2,
			#{bpm_bplan_idx},
			#{file_fname},
			#{file_sname},
			#{file_size}
		)
    </insert> 


	 <select id="selectFileList" parameterType="int" resultType="hashMap">
	SELECT  FILE_IDX,
			FILE_FNAME,
			ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		
		FROM EMP_FILE
		WHERE BOARD_LIST_IDX = #{bpm_bplan_idx}
		AND DEL_YN = 'N'
		ORDER BY FILE_IDX ASC
</select>


	<select id="selectFileInfo" parameterType="hashMap"
		resultType="hashMap">
		SELECT
		FILE_SNAME,
		FILE_FNAME
		FROM EMP_FILE
		WHERE FILE_IDX = #{file_idx}
	</select>

<!-- 	<update id="updateFile" parameterType="hashMap">
		UPDATE EMP_FILE SET
		DEL_GB = 'Y'
		WHERE FILE_NO = #{file_idx}
	</update>  -->
   
    
</mapper>
	
