@charset "UTF-8";

@import url("//fonts.googleapis.com/earlyaccess/nanumpenscript.css");
.nanumpenscript * {
	font-family: "Nanum Pen Script", cursive;
}
@font-face {
	font-family: "MaplestoryOTFBold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SeoulNamsanM";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1230px;
		/*max-width: 100%;*/
	}
	body#main .container {
		max-width: 1270px;
	}
	body#main .Mcontainer {
		max-width: 1500px;
	}
}
@media (max-width: 1199px) {
	.container {
		max-width: 100%;
	}
	body#main .Mcontainer {
		max-width: 100%;
	}
}
body {
	font-size:1rem;
}
#wrapper {
	position: relative;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#wrapper.active:before,
#wrapper.mask:before {
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.5;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 45;
}
/* skipNavigation */
#accessibility a{
	display:block;
	position:absolute;
	left:0;
	top:-9999em;
	z-index:9999;
	overflow:hidden;
	width:100%;
	background-color:#333;
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	line-height:2.2
}
#accessibility a:hover,
#accessibility a:active,
#accessibility a:focus{
	top:0
}

/* Header */
header {
	position:relative;
	width:100%;
	margin:0 auto;
	box-sizing:border-box;
	z-index: 50;
}
#header {
	width:100%;
	transition:0.2s;
	z-index:100;
	border-bottom: 1px solid rgba(225, 225, 225, .45);
}
.header-container {
	max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	min-width: 320px;
	position: relative;
	z-index: 20;
}
.header {
	height: 88px;
}

@media (min-width: 1697px) {
	.header-container {
		padding: 0 50px;
	}
}

@media all and (max-width: 1023px) {
	.header-container {
		padding: 0 30px;
	}
}

/* Etc Navi */
.etc-nav {
	display: table;
	position: absolute;
	top: 0;
	right: 15px;
	height: 88px;
}
.etc-nav ul {
	/*margin-right: 20px;*/
	padding: 20px 0;
}
.etc-nav ul li {
	line-height: 40px;
	float:left;
}
.etc-nav ul li a {
	color: #fff;
	display:inline-block;
	font-size: 0.9rem;
}
	.hp-link li a {
		display: block;
		padding:0 20px;
		border-right:1px solid #585e6b;
	}
	.hp-link li:first-child a {
		border-left:1px solid #585e6b;
	}
	.hp-link li a.on {
		color:#d11f38;
		background-color:#fff;
	}
	.member {
		display: inline-block;
	}
	.member > li {
		color: #fff;
		position:relative;
		float:left;
	}
	.member > li+li+li:before {
		display: inline-block;
		width: 1px;
		height: 10px;
		background-color: rgba(255,255,255,.4);
		content: "";
		margin-left: 10px;
		margin-right: 10px;
	}
	.etc-nav ul li.master {
		border: 1px solid #fff;
		padding: 0 10px;
		margin-right: 20px;
	}
	.etc-nav ul li.master:hover {
		background: rgba(225, 225, 225, .3);
	}
	/* dropdown*/
	.etc-nav .master .dropdown:hover>.dropdown-menu {
		display: block;
	}
	.etc-nav .master .dropdown>.dropdown-toggle:active {
		pointer-events: none;
	}
	.etc-nav .master .dropdown a:after {
		display: none;
	}
	.etc-nav .master .dropdown-menu {
		background-color: transparent;
		border: none;
		left: auto;
		right: -11px;
		padding-top: 30px;
		margin: 0;
	}
	.etc-nav .master .dropdown-menu  a {
		padding-bottom: 5px;
	}
	.etc-nav .master .dropdown-item {
		padding: 0;
		text-align: right;
	}
	.etc-nav .master .dropdown-item > div > span:after {
		content:"";
		display: inline-block;
		width: 36px;
		height: 36px;
		margin-left: 10px;
		vertical-align: middle;
		background-image: url("../img/main/main_master_icon.png");
	}
	.etc-nav .master .dropdown-item .type1 span:after {
		background-position: 0 0;
	}
	.etc-nav .master .dropdown-item .type2 span:after {
		background-position: -37px 0;
	}
	.etc-nav .master .dropdown-item .type3 span:after {
		background-position: -74px 0;
	}
	.etc-nav .master .dropdown-item:focus .type1 span:after,
	.etc-nav .master .dropdown-item:hover .type1 span:after {
		background-position: 0 -36px;
	}
	.etc-nav .master .dropdown-item:focus .type2 span:after,
	.etc-nav .master .dropdown-item:hover .type2 span:after {
		background-position: -37px -36px;
	}
	.etc-nav .master .dropdown-item:focus .type3 span:after,
	.etc-nav .master .dropdown-item:hover .type3 span:after {
		background-position: -74px -36px;
	}
	.etc-nav .master .dropdown-item:focus,
	.etc-nav .master .dropdown-item:hover {
		color: #d3ff76;
		background-color: transparent;
	}

.lang-btn {
	position: relative;
	padding: 0 15px;
	line-height: 40px;
	display: block;
	background: #ededef;
	font-size: 12px;
	color: #000;
}
.lang-btn:hover {
	text-decoration: none;
}
.lang-btn:after {
	content: '';
	width: 4px;
	height: 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 2px solid #464646;
	border-right: 2px solid #464646;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 0 0 7px;
}
.lang-btn.active:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: 1px 0 0 7px;
}
.logo {
	position: relative;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.logo a {
	display: block;
	width:216px;
	height: 61px;
	background-image: url("../img/logo.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100%;
}

@media (min-width: 1024px) {
	.etc-nav {
		right: 30px;
	}
}
@media (min-width: 1697px) {
	.member > li+li+li:before {
		margin-left: 20px;
		margin-right: 20px;
	}
	.etc-nav ul {
		/*margin-right: 50px;*/
		padding: 23px 0;
	}
	.etc-nav ul li.master {
		margin-right: 40px;
	}
}
@media screen and (min-width:992px) and (max-width:1299px) {
	.header {
		height: 140px;
	}
		.logo {
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.etc-nav {
			margin-top: 55px;
		}
}

/* 검색 */
header .search-area {
	position: absolute;
	right: 70px;
	right:15px;
	top: 14px;
	width: 61px;
	height: 61px;
	border: 1px solid #e1e1e1;
	text-align: center;
	display:table;
}
header .search-area > a {
	display: table-cell;
	vertical-align: middle;
}
.search-box {
	width: 100%;
	height: 100%;
	height:63px;
	position: absolute;
	top:129px;
	right: 0;
	padding: 0;
	background: #fff;
	z-index: 9999;
	border-radius: 0;
	display: none;
	border-bottom:1px solid rgba(0,0,0,.1);
}
.search-box .container {
	position:relative;
}
.search-box .ico-del {
	position: absolute;
	top: 50%;
	right:80px;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #999;
}
.search-box .ico-search {
	position: absolute;
	top: 50%;
	right:50px;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #999;
}
.search-box .ico-close {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #999
}
.search-box form {
	height: 100%
}
.search-box form > i {
	position:absolute;
	top:50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left:25px;
}
.search-box form input {
	height: 100%;
	border: none;
	padding: 20px;
	border-radius: 0;
}
@media (max-width: 1023px) {
	header .search-area {
		top: 20px;
		left: auto;
		right: 80px;
		width: 28px;
		height: 21px;
		border: none;
	}
	.search-box {
		top:108px;
	}
}

/* sub */
.sub-visible {
	position:relative;
	background:url("../img/sub-visual.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 380px;
	margin-top: -89px;
}
#shipinfo_1 .sub-visible,
body#sub.uds_278 .sub-visible {
	background:url("../img/sub-visual1.jpg");
}
body#sub.uds_289 .sub-visible {
	background:url("../img/sub-visual2.jpg");
}
#shipinfo_2 .sub-visible {
	background:url("../img/sub-visual2.jpg");
}
#shipinfo_3 .sub-visible,
body#sub.uds_309 .sub-visible {
	background:url("../img/sub-visual3-1.jpg");
}
#shipinfo_4 .sub-visible,
body#sub.uds_285 .sub-visible {
	background:url("../img/sub-visual4-2.jpg");
}
.sub-visible .container {
	position:relative;
	height:100%;
	line-height:2em;
}
.sub-visible .slogan {
	position: absolute;
	top:53%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 2.2rem;
	font-weight: 400;
	z-index:1;
	text-align: center;
}
/*.sub-visible .slogan p {
	margin-bottom: 25px;
}*/
.sub-visible .slogan span {
	display:inline-block;
	font-size:1rem;
	font-weight: 400;
	line-height: 1.5;
}
@media (min-width: 768px) {
	.sub-visible .slogan {
		font-size: 2.6rem;
	}
	.sub-visible .slogan span {
		font-size:1.2rem;
		line-height: 10px;
	}
}
@media (min-width:992px) {
	/* .sub-visible {
		height: 510px;
	} */
	.sub-visible .slogan {
		font-size: 3.3rem;
		font-weight: 500;
	}
	.sub-visible .slogan span {
		line-height: unset;
	}
}
@media screen and (min-width:992px) and (max-width:1299px) {
	.sub-visible {
		margin-top: -142px;
	}
}

/* 컨텐츠-컨테이너영역 */
#container {
	margin: 2.5rem 0;
}
/* 로케이션 */
.page-path {
	position: relative;
	width: 100%;
	height: 60px;
	margin-top: -60px;
	z-index: 2;
	background:#32508d;
}
.page-path .breadcrumb {
	border-radius: 0;
	background-color: #32508d;
	position: relative;
	padding: 0;
	margin-bottom: 0;
	width: 100%;
	list-style: none;
	white-space: nowrap;
	display: inline-table;
	border-spacing: 0;
	border-collapse: collapse;
}
.page-path .breadcrumb > li {
	display: none;
}
/* .page-path .breadcrumb > li:nth-last-child(2) {
	display: inline-block;
	width: 100%;
}
.page-path .breadcrumb > li:nth-child(2) {
	border-left: 1px solid rgba(225, 225, 225, .3);
} */
.page-path .breadcrumb > li:last-child {
	display: inline-block;
	width: 100%;
}
.page-path .breadcrumb > li:last-child {
	border-left: 1px solid rgba(225, 225, 225, .3);
	border-right: 1px solid rgba(225, 225, 225, .3);
}
.page-path .breadcrumb > li.home {
	display: none;
}
.page-path .breadcrumb > li:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	margin-top: -8px;
	content: " ";
	height: 16px;
}
.page-path .breadcrumb > li:last-child:after {
	display: none;
}
.page-path .breadcrumb > li .dropdown {
	width: 100%;
	min-width: 100%;
	padding: 5px;
}
.page-path .breadcrumb > li .dropdown .btn {
	width: 100%;
	min-width: 100%;
	color: #fff;
	font-size: 0.9rem; /* 글자 크기 키우기 0.85 */
	font-weight: 300;
	line-height: 50px;
	text-align: left;
	padding: 0 15px;
	border: 0;
	border-radius: 0;
	transition: none !important;
	background: none;
	box-shadow: none !important;
}
.page-path .breadcrumb > li .dropdown .btn:after {
	float: right;
	font-size: 12px;
	border: 0;
	margin-right: 15px;
	margin-right:0;
	content: "\e941";
	font-family: "xeicon";
}
.page-path .breadcrumb > li .dropdown.show .btn {
	position: relative;
	z-index: 1;
	background-color: #32508d;
}
.page-path .breadcrumb > li .dropdown.show .btn:after {
	content: "\e944";
}
.page-path .breadcrumb > li .dropdown.show .dropdown-menu {
	width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	top: 60px !important;
	z-index: 100;
	font-weight: 300;
	border-radius: 0;
	transform: none !important;
}
.page-path .breadcrumb > li .dropdown.show .dropdown-menu > a {
	font-size: 13px;
	color: #fff;
	padding: 0 15px;
	line-height: 50px;
	background-color: #32508d;
}
.page-path .breadcrumb > li .dropdown.show .dropdown-menu > a:focus {
	background-color: #32508d;
}


.page-path .breadcrumb > li.path-util {
	display: none;
}

@media (min-width: 768px) {
	.page-path {
		background:none;;
	}
	.page-path .breadcrumb > li {
		position: relative;
		display: inline-block;
		float: left;
		font-size: 1rem;
		min-width: 220px;
		border-right: 1px solid rgba(225, 225, 225, .3);
		z-index:1;
	}
	/* .page-path .breadcrumb > li:nth-last-child(2) {
		width: auto;
	}
	.page-path .breadcrumb > li:nth-child(2) {
		border-left: none;
	} */
	.page-path .breadcrumb > li:last-child {
		width: auto;
		border-left:0;
	}
	.page-path .breadcrumb > li:last-child {
		border-left: none;
	}
	.page-path .breadcrumb > li:last-child:after {
		display: block;
	}
	.page-path .breadcrumb > li.home {
		display: inline-block !important;
	} 
	.page-path .breadcrumb > li.home a:before {
		content:"\e900";
		font-family: "xeicon";
		color:#fff;
		font-size:1rem;
	}
	.page-path .breadcrumb > li .dropdown .btn {
		font-size: 0.95rem; /* 글자 크기 키우기 17px */
		line-height: 50px;
	}
	.page-path .breadcrumb > li .dropdown.show .dropdown-menu {
		/*top: 60px !important;
		transform: translate3d(0px, 60px, 0px) !important;*/
	}
	.page-path .breadcrumb > li .dropdown.show .dropdown-menu > a {
		font-size: 15px;
		line-height: 60px;
	}
	.page-path .breadcrumb > li.home {
		min-width:65px;
	}
	.page-path .breadcrumb > li.home a {
		display: inline-block;
		min-width:60px;
		text-align: center;
		line-height: 60px;
	}
	.page-path .breadcrumb > li.home a .icon-home {
		font-size: 17px;
		color: #fff;
	}
	.page-path .breadcrumb > li.path-util {
		display: inline-block;
		min-width: auto;
		position: absolute;
		right: 20px;
		top: 5px;
		border-right: none;
	}
	.page-path .breadcrumb > li.path-util > div {
		float: left;
	}
	.page-path .breadcrumb > li.path-util a {
		display: inline-block;
		padding: 25px 22px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.page-path .breadcrumb > li.path-util .print a {
		background-image: url("../img/common/ico-path-print.png");
	}
	.page-path .breadcrumb > li.path-util .share a {
		background-image: url("../img/common/ico-path-share.png");
	}
}
@media (min-width: 1200px) {
	.page-path {
		/* width: 1170px;
		box-shadow: 5px -4px 7px 0px rgba(0, 0, 0, 0.22); */
	}
	.page-path .breadcrumb > li .dropdown .btn {
		position: relative;
		z-index: 1;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
	}
	.page-path .breadcrumb > li .dropdown .btn:hover {
		background-color: #32508d;
	}
	.page-path .breadcrumb > li .dropdown.show .dropdown-menu {
		/*transform: translate3d(0px, 60px, 0px) !important;*/
	}
	.page-path .breadcrumb > li .dropdown.show .dropdown-menu > a {
		font-size: 15px;
		line-height:50px;
		-webkit-transition-property: all;
		transition-property: all;
		-webkit-transition-duration: 0.15s;
		transition-duration: 0.15s;
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.page-path .breadcrumb > li .dropdown.show .dropdown-menu > a:hover {
		background-color:#2e4471;
	}
	.page-path .breadcrumb > li.home {
		text-align: center;
	}
	.page-path .breadcrumb > li.home a {
		display: inline-block;
	}
	.page-path .breadcrumb > li.home a .icon-home {
		font-size: 17px;
		color: #fff;
	}
	.page-path .zoom {
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -10px;
	}
	.page-path .zoom > a {
		position: relative;
		display: inline-block;
		font-size: 13px;
		line-height: 20px;
		color: #fff;
		padding-right: 20px;
		margin-left: 30px;
	}
	.page-path .zoom > a:first-child {
		margin-left: 0;
	}
	.page-path .zoom > a.in:after {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 14px;
		content: "\E804";
		font-family: "fontello";
	}
	.page-path .zoom > a.out:after {
		position: absolute;
		top: 0;
		right: 0;
		float: right;
		font-size: 14px;
		content: "\E805";
		font-family: "fontello";
	}
}
/* page-title */
.page-title {
	position:relative;
	padding-bottom:10px;
	margin-bottom:40px;
}
.page-title:after {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #d9d9d9;
	width: 100%;
	height: 1px;
	display: block;
	content: "";
}
.page-title h3 {
	font-size:2rem;
	font-weight: 400;
	margin-bottom:10px;
	color: #29303a;
	letter-spacing: -1px;
}
@media (min-width: 768px) {
	.page-title h3 {
		font-size:2.25rem;
	}
}
@media (min-width:992px) {
	.page-title h3 {
		font-size:2.5rem;
	}
}


/* 컨텐츠 */
#contents {
	color: #555;
	width: 100%;
	margin-bottom:30px;
	min-height: 500px;
	clear:both;
	position: relative;
}

/* Footer */
footer {
	position:relative;
	background-color:#141720;
}

/* footer-link */
.footer-link {
	display: none;
	background-color: #1c1e2b;
}
footer > .container,
.footer-link > .container {
	position:relative;
}
.footer-link-menu > div {
	color: #fff;
	padding: 0 45px;
	margin: 40px 0;
	border-right: 1px solid rgba(255, 255, 255, .25);
}
.footer-link-menu > div:nth-child(even) {
	border-right: none;
}

.footer-link-menu p {
	font-size: 1.3rem;
	margin-bottom: 20px;
}
.footer-link-menu > div > ul > li {
	margin-bottom: 20px;
}
.footer-link-menu > div > ul > li > a {
	color: #fff;
}
.footer-link-menu > div > ul > li >ul > li > a {
	color: #8c8e9b;
}
@media (min-width: 768px) {
	.footer-link {
		display: block;
	}

}
@media (min-width: 992px) {
	.footer-link-menu > div {
		border-bottom: none;
	}
	.footer-link-menu > div:nth-child(2) {
		border-right: 1px solid rgba(255, 255, 255, .25);
	}
}

.footer-info {
	position: relative;
	padding: 30px 0;
}

.footer-logo a {
	display: block;
	width: 216px;
	height: 61px;
	margin: 0 auto;
	background: url("../img/footer-logo.png") no-repeat;
	background-position: center center;
	background-size: 100%;
}
@media (min-width: 768px) {
	.footer-logo {
		margin-bottom: 30px;
	}
	.footer-logo a {
		margin: 0;
		background-position: left center;
	}
}

/* Footer Navi */
.footer-nav {
	/*display: none;*/
	text-align: center;
}
.footer-nav li {
	display: inline-block;
	position: relative;
	padding: 0 8px;
}
.footer-nav li:first-child {
	padding-left:0;
}
.footer-nav li:before {
	display: block;
	position: absolute;
	top: 4px;
	left: 0;
	width: 1px;
	height: 14px;
	background-color: #616161;
}
.footer-nav li a {
	display: inline-block;
	padding:10px 0;
	color: #fff;
	font-weight: 300;
}
@media (min-width: 768px) {
	.footer-nav {
		text-align: left;
	}
	.footer-nav li {
		padding: 0 16px;
	}
}
@media (min-width: 992px) {
	.footer-logo {
		position: absolute;
		top: 50%;
		transform: translateY(-40%);
		margin-bottom: 0;
	}
}

/* family site */
.family-site .btn-group {
	width:200px;
}
.family-site .btn {
	text-align: left;
	font-size:.9rem;
	color: #fff;
	width:100%;
	line-height: 40px;
	padding: 0 20px;
	border-radius: 0;
	border: 1px solid rgba(255, 255, 255, .25);
	/* box-shadow: none !important; */
}
.family-site .btn:after {
	float: right;
	font-family: "xeicon";
	content: "\e92f";
	border: 0;
}
.family-site .dropdown-menu {
	/* top: 50px !important;
	transform: none !important;*/
	border-radius: 0;
	border:1px solid #eee;
	padding:10px;
	width: 100%; 
}
.family-site .dropdown-menu a {
	font-size:.9rem;
	color: #666;
	display:block;
}
.family-site .show .btn:after {
	content: "\e935";
}

footer .address {
	font-size: 0.9rem;
	text-align: center;
	margin-top: 20px;
}
footer address{
	margin-top:10px;
	color: #fff;
	font-weight: 300;
}
footer address p:nth-child(n+2) {
	display: none;
}
footer .copy {
	color:#fff;
}
@media (min-width: 768px) {
	footer .address {
		text-align: left;
	}
}
@media (min-width: 992px) {
	footer address p:nth-child(n+2) {
		display: block;
	}
}


/* 탭메뉴 */
.tab-mobile {
	margin-bottom: 30px
}
.tab-menu {
	margin-right:-5px;
}
.tab-menu::after {
	display: block;
	clear: both;
	visibility: hidden;
}
.tab-menu li {
	position:relative;
	display: table;
	float: left;
	height: 100%;
	margin: -1px 0 0 -1px;
	border: solid 1px #d4d4d4;
	box-sizing: border-box;
	z-index:0;
}
.tab-menu li * {
	margin: 0;
	padding: 0;
	line-height: 0;
}
.tab-menu li a {
	display: table-cell;
	vertical-align: middle;
	/* border: 1px solid transparent;
	border-color: #ddd #ddd #949494; */
	background-image: none;
	color: inherit;
	text-align: left;
	cursor: pointer;
	/* height: 66px; */
	color: #333;
	font-size:.9rem;
	line-height: 1;
	transition: background-color 50ms ease-in-out;
	-webkit-transition: background-color 50ms ease-in-out;
}
.tab-menu li a span {
	display: block;
	position: relative;
	line-height: 120%;
	padding:15px;
}
.tab-menu li.on {
	z-index:1;
	border:1px solid #333;
}
.tab-menu li.on a,
.tab-menu li.on a:active,
.tab-menu li.on a:focus,
.tab-menu li.on a:hover {
	border-color: #555;
	background-color: #626977;
	color: #fff;
	
}
.tab-menu li:hover{
	z-index:1;
	border:1px solid #333;
	background-color:#fff;
}
.tab-menu li a:hover,
.tab-menu li a:focus,
.tab-menu li:hover a{
	color:#333;
}
.tab-mobile.mobile ul {
	width:100%;
	margin:0;
	padding:1px 0;
}
.tab-mobile.mobile ul li{
	display:none;
	float:none;
	width:100%;
	margin-left: 0;
}
.tab-mobile.mobile ul li:first-child{
	margin-top: 0;
}
.tab-mobile.mobile ul li a{
	display:block;
	height:auto;
	margin:0;
}
.tab-mobile.mobile .title{
	display:block;
	border: 1px solid #dfdfdf;
	font-weight:400;
}
.tab-mobile.mobile .title a{
	display:block;
	position:relative;
	padding:15px 47px 13px 22px;
	color:#323330
}
.tab-mobile.mobile .title a:before{
	content: "\e941";
	display:block;
	position:absolute;
	top:50%;
	right:10px;
	font-family:'xeicon';
	transform: translate(0, -50%);
}
.tab-mobile.mobile .title a.on:before{
}
@media (min-width:768px){
	.tab-mobile .title{
		display:none
	}
}


.page-label {
	position: relative;
	margin-bottom: 20px;
	padding:50px 5px;
	color:#fff;
	font-weight:300;
	background:#1D2939;
	text-align: center;
}
/* lnb */
 .sidebar,
 .sidebar * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: 0
}
 .sidebar {
	width:100%;
	min-width: 200px;
	position: relative;
}
 .sidebar>ul {
	border-top: 1px solid  #d4d4d4;
}
 .sidebar ul li {
	width: 100%;
	display: block;
	/* float: left; */
	position: relative;
	border: 1px solid #d4d4d4;
	border-top-width: 0
}
 .sidebar ul li a {
	width: 100%;
	padding: 14px 22px;
	/* float: left; */
	display:block;
	text-decoration: none;
	color: #666;
	font-weight: 500;
	/*background: #fff;
	 border: 1px solid  #d4d4d4;
	border-top-width: 0; */
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	-o-transition: color .2s linear, background .2s linear;
	-moz-transition: color .2s linear, background .2s linear;
	-webkit-transition: color .2s linear, background .2s linear;
	transition: color .2s linear, background .2s linear
}
 .sidebar ul>li.on>a:first-child {
	color: #000;
} 
.sidebar>ul>li>a:first-child:hover {
	color: #fff;
	background: #049372
} 
 .sidebar ul>li.on::before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 4px;
	height: 100%;
	background: #049372;
	z-index: 0;
}
.sidebar ul li.has-menu > a::after {
	font-family:'xeicon';
	content: "\e913";
	position:absolute;
	top:50%;
	right:15px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color:#1D2939;
 }
 .sidebar ul li.has-menu.active > a::after, 
 .sidebar ul li.has-menu > a:hover::after {
	color:#fff;
 }
 .sidebar ul li.has-menu > a.active::after {
	content: "\e91a";
 }
/* 2차 */
 .sidebar ul ul.submenu,
 .sidebar ul ul.submenu li ul.submenu {
	width: 100%;
	display: none;
	position: static;
}
.sidebar ul ul.submenu {
	position: relative;
	background: #f6f6f6;
	z-index:1;
}
 .sidebar ul ul.submenu li {
	clear: both;
	width: 100%;
	border:0;
	border-top:1px solid #e7e7e7;
}
 .sidebar ul ul.submenu li a {
	width: 100%;
	/* float: left; */
	background:transparent;
	border-top: none;
	position: relative;
	padding: 8px 15px;
	-o-transition: border .2s linear;
	-moz-transition: border .2s linear;
	-webkit-transition: border .2s linear;
	transition: border .2s linear
}
.sidebar ul ul.submenu>li>a {
	position:relative;
	padding-left: 30px;
}
.sidebar ul ul.submenu>li>a span:before, 
.sidebar ul ul.submenu>li>a span:after {
	display: inline-block;
	content: '';
	background:#aeaeaf;
	position: absolute;
}
/* .sidebar ul ul.submenu>li>a span:before {
	top: 50%;
	left:20px;
	width:7px;
	height: 1px;
}
.sidebar ul ul.submenu>li>a span:after {
	top:18px;
	left:20px;
	width:1px;
	height:7px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
} */
/* 3차 */
.sidebar ul ul.submenu>li>ul.submenu {
	padding:10px;
	background: #fff;
}
.sidebar ul ul.submenu>li>ul.submenu>li {
	border-top-width:0;
}
.sidebar ul ul.submenu>li>ul.submenu>li>a {
	position:relative;
	padding-left:25px;
	background:transparent;
}
.sidebar ul ul.submenu>li>ul.submenu>li>a span:before, 
.sidebar ul ul.submenu>li>ul.submenu>li>a span:after {
	display: inline-block;
	content: '';
	background:#aeaeaf;
	position: absolute;
}
.sidebar ul ul.submenu>li>ul.submenu>li>a span:before {
	top:50%;
	left:15px;
	width:3px;
	height:3px;
}
.sidebar ul ul.submenu>li>ul.submenu>li>a span:after {
	width:0;
	height:0;
}
/* 4차 */
.sidebar ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
}
.sidebar ul li .sidebar-label,
.sidebar ul ul.submenu li .sidebar-label {
	min-width: 20px;
	padding: 1px 2px 1px 1px;
	position: absolute;
	right: 18px;
	top: 14px;
	font-size: 11px;
	font-weight: 800;
	color: #555;
	text-align: center;
	line-height: 18px;
	background: #f0f0f0;
	border-radius: 100%
}
 .sidebar ul ul.submenu li .sidebar-label {
	top: 12px
}
 .ink {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, .3);
	border-radius: 100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}
 .animate-ink {
	-webkit-animation: ripple .5s linear;
	-moz-animation: ripple .5s linear;
	-ms-animation: ripple .5s linear;
	-o-animation: ripple .5s linear;
	animation: ripple .5s linear
}
 @-webkit-keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5)
	}
}
@-moz-keyframes ripple {
	100% {
		opacity: 0;
		-moz-transform: scale(2.5)
	}
}
@-o-keyframes ripple {
	100% {
		opacity: 0;
		-o-transform: scale(2.5)
	}
}
@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5)
	}
}

/* 타이틀 */
.h4-tit {
	margin:0 0 0.875rem;
}
.h4-tit + .h5-tit {
	margin-top: 1.5rem;
}

/* 오시는길 */
.map-wrap {
	position:relative;
	border:1px solid #ccc;
}
.map-wrap > a {
	position:absolute;
	right:0;
	bottom:0;
	z-index:1;
	display: inline-block;
	vertical-align: middle;
	transition: all .25s ease;
	line-height: 1.1;
	color: #fff;
	background: rgba(0,0,0,.6);
}
.map-wrap > a:hover {
	background: rgba(0,0,0,.8);
}
.map-wrap > a[target='_blank']:after {
	content: "\e980";
	font-family: "xeicon";
	vertical-align: middle;
	padding-right:15px;
}
.map-wrap > a span {
	display: inline-block;
	padding: 15px 45px 15px 15px;
	line-height: 1;
}
#map {
	width:100%;
	height:450px;
}
.map-info {
	padding:20px;
	border:1px solid #ccc;
	border-top:0;
}
.map-info p {
	font-size: 1.25rem;
	color: #272727;
	line-height: 28px;
	letter-spacing: -1px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #eee;
}
@media (min-width:992px) { 
	#map {
		width: 550px;
	}
}

/* 사이트맵 */
.sitemap-wrap > ul > li  {
	clear:both;
	overflow:hidden;
}
.sitemap-wrap > ul > li > dl > dt {
	clear:both;
	float:left;
	width:100%;
	display:block;
	border-top: 3px solid #32508d;
}
.sitemap-wrap > ul > li > dl > dt > a {
	display:block;
	font-size:1.125rem;
	color:#000;
	font-weight:500;
	padding:20px 0;
}
.sitemap-wrap dl > dd {
	float:left;
	width:100%;
	line-height:1.6;
	border-top: 2px solid #ebebeb;
	padding:20px 0;
}
.sitemap-wrap dl > dd > ul{
	padding-left:0;
} 
.sitemap-wrap dl > dd > ul > li {
	float: left;
	width: calc(50% - 14px);
	margin: 0 7px 35px;
	box-sizing: border-box;
} 
.sitemap-wrap dl > dd > ul > li >a {
	color:#000;
	font-size:105%;
	display:block;
	text-align:center;
	padding:7px 10px 7px 0;
	border:1px solid #d4d4d4;
	margin-bottom:10px;
} 
.sitemap-wrap dl > dd > ul > li > ul >li {
	position:relative;
}
.sitemap-wrap dl > dd > ul > li > ul >li > a {
	display:inline-block;
	padding: 3px 0 3px 10px;
}
.sitemap-wrap dl > dd > ul > li > ul >li:before {
	content:"";
	width: 2px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 0px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	display: inline-block;
	background:#333;
}
.sitemap-wrap dl > dd > ul > li ul >li > ul {
	padding:10px 0 10px 15px;
	border-top: 1px solid #eaeaea;
	background: #f6f6f6;
}
.sitemap-wrap dl > dd > ul > li ul >li > ul > li {
	font-size:95%;
}
.sitemap-wrap dl > dd > ul > li ul >li > ul > li:before {
	color: #999;
	font-size:14px;
	content: ' - ';
}
.sitemap-wrap a[target='_blank']:after {
	content: "\e980";
	font-family: "xeicon";
	display: inline-block;
	color: #999;
	margin-left: 5px;
	vertical-align: middle;
}
@media (min-width: 768px) {
	.sitemap-wrap dl > dd > ul > li {
		width: calc(33.3333% - 14px);
	}
}
@media (min-width: 992px) {
	.sitemap-wrap > ul > li > dl > dt {
		width:25%;
	}
	.sitemap-wrap dl > dd {
		width:75%;
	}
}
/* gotoTop */
.scrollToTop {
	position: absolute;
	bottom: 625px;
	right:-90px;
	display:block !important;
}
	.scrollToTop a {
		width: 63px;
		height: 63px;
		display: block;
	}
/* 게시판 커스터마이징 */
.table-bordered thead td, 
.table-bordered thead th {
	background-color: #f3f3f3;
}
.table.table-bordered thead th,
.table.table-bordered th:first-child {
	border-right:none;
}
.table.table-bordered td,
.table.table-bordered th {
	border-left: none;
	border-right: none;
}


/* 상단팝업 */
#popup-top {
	background: url("../img/common/topPopup-bg.jpg") no-repeat 50% 50%;
	background-size: cover;
}
#popup-top .slider li a {
	display: table;
	margin: 0 auto;
	padding: 10px;
}
#popup-top .slider li .img {
	display: none;
}
#popup-top .slider li .txt {
	display: table-cell;
	vertical-align: middle;
	max-width: 500px;
	text-align: center;
}
#popup-top .slider li .popup-btn {
	display: none;
}
#popup-top .slider li .txt strong {
	display:block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom:0.625rem;
	font-weight:500;
}
#popup-top .slider li .txt span {
	display: inline-block;
	font-size:1rem;
	line-height: 20px;
	overflow: hidden;
	max-height: 40px;
	color: #b3b7c0;
}
#popup-top .slider .slick-list > div {
	height: 130px;
}
#popup-top .slick-slide {
	padding:20px 35px;
}
#popup-top .slick-slide .popopTop_img img {
	width: 100%;
}
#popup-top .slick-controls-auto {
	top:0.625rem;
	bottom:auto;
	right:0.9375rem;
}
#popup-top .slider button.slick-prev::before {
	font: normal 1.875rem 'xeicon';
	font-weight: 600;
	content: "\e93d";
	color:#fff;
}
#popup-top .slider button.slick-next::before {
	font: normal 1.875rem 'xeicon';
	font-weight: 600;
	content: "\e940";
	color:#fff;
}
#popup-top .slick-controls-auto .active {
	display: none;
	font-size: 0;
}
#popup-top .checkbox-wrap {
	display: inline-block;
	position: absolute;
	top: 6rem;
	right: 1rem;
}
#popup-top .slick-controls-auto .pause:before, 
#popup-top .slick-controls-auto .play:before,
#popup-top .checkbox-wrap label {
	color:#fff;
}

@media (min-width: 768px) {
	#popup-top .slider li .img {
		display: table-cell;
		vertical-align: middle;
		padding-right: 30px;
	}
	#popup-top .slider li .txt {
		text-align: left;
	}
	#popup-top .slider li .popup-btn {
		display: block;
		width: 75px;
		height: 75px;
		margin-left: 30px;
		text-align: center;
		line-height: 75px;
		color: #fff;
		font-size: 0.9rem;
		background: #364355;
		border-radius: 80px;
	}
}