@charset "utf-8";

/* 로그인 */
.login {width:100%; text-align: center;}
.login input {display:inline-block;width:90%;border:0;font-size:14px;} 
.login > div {align-items:center;margin:0 auto;width:480px;height:45px;border-bottom:1px solid #ececec;}
.login > div img {width:16px;height:20px;margin-right: 10px; vertical-align: middle;}
.login .btn{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;align-items:center;justify-content:center;width:480px;height:50px;margin:15px auto;background-color:#862640;color:#fff;font-size:16px;}
.find_link {margin: 0 auto; margin-top:15px;display: block; width: 480px;}
.find_link li + li {position:relative;margin-left:25px;}
.find_link li + li::before {position:absolute;width:1px;height:15px; margin-top: 1px; margin-left: -11px;background-color:#ccc;content:'';}
.find_link a {font-size:14px;color:#222; font-weight: 500; letter-spacing: -0.5px;}
.box_login {padding:30px;margin-top:-1px;background-color:#f5f5f5;border:1px solid #ccc;text-align:center;}
.method {width:800px; margin:0 auto;text-align: left;font-size:16px;}
.method p {margin-bottom:20px;}

/* 개인정보 수집동의 */
.admit {overflow-y: scroll;width:100%;height:430px;padding:20px;border: 1px solid #ccc;text-align:left;line-height:1.3rem;box-sizing: border-box;}
.admit p {margin-bottom:15px;font-weight:600;letter-spacing: -0.5px;}
.admit p + p {margin-top:15px;}
.checkbox {width:500px;text-align: left;}
.checkbox label {vertical-align: middle;}

/* 회원가입 */
.join_wrap {width:100%;padding:20px;}
.join_wrap p {margin-bottom:10px;text-align:left;font-size:18px;font-weight:600;letter-spacing: -0.5px;}
.join_wrap p + p {margin-top:15px;}
.radio {font-size:18px;}
.radio input {display:inline-block;}
.radio input + input  {display:inline-block;}
.join_wrap input.birthday {position:relative; background: #fff url(../image/calendar_gray.png)no-repeat 95% center;}
.join_wrap input.birthday::after {position:absolute;background:url(../image/calendar_gray.png);width:16px;height:16px;content:'';}
.join_wrap button {margin-top: 20px; padding: 20px 0; width: 500px; background-color: #862640; color: #fff; font-size: 18px;}
.join_wrap button.id_checkbtn {display:inline-block;margin-top:0;margin-left:5px;width:200px;height:50px;line-height:2px;vertical-align: bottom;font-size:15px;}
.join_wrap  input {width:calc(100% - 250px);height:35px;border-bottom:1px solid #ececec;}

/* radio */
.radio_container {display: inline-block;  position: relative;  padding-left: 35px;  padding-right: 10px;  cursor: pointer;  font-size: 17px;
 -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none; user-select: none; line-height: 28px;}
 .radio_container input {position: absolute;opacity: 0; cursor: pointer;height: 0;width: 0;}
.checkmark {position: absolute; top: 4px;  left: 0;  height: 20px; width: 20px; box-sizing: border-box; border-radius: 50%;  border: 1px solid #cdcdcd; background: #fff;}
.radio_container.ap .checkmark.radio:after {margin-top:3px;margin-left:3px;width: 12px;height: 12px; background: #862640;border-radius: 50%;}
.radio_container input:checked ~ .checkmark:after {display: block; content: "";}
.radio_container:after {content: ""; position: absolute;}

/* 종합의견 */
.opinion_tit {font-size:20px;font-weight:600;letter-spacing: -0.5px;text-align:center;}
.sum {margin-top:15px;text-align:right;}

.board_btn_wrap.right button {width: 50%;}


/* hj.css 추가 */
ul.tab{overflow:auto; margin-bottom:30px; padding:0 15px;}
ul.tab li{position:relative;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex; width: 25%; float: left;  border: 1px solid #dedede; text-align: center;  box-sizing: border-box; }
ul.tab li+li{margin-left:-1px;}
ul.tab li a{display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex; align-items:center; justify-content:center; width: 100%; height:100%; min-height:63px; padding: 0px 0; font-size: 20px; letter-spacing: -1px; font-weight:500}
ul.tab li.on{border-bottom:none;}
ul.tab li.on::before{position:absolute; top:-1px; left:-1px; width:calc(100% + 2px); height:3px; background:#952953; content:""}

.tabcontent{display: none;}
.tabcontent.current{display: block;}

.tabcontent textarea{width:100%; min-height:300px; margin-bottom:10px; padding: 10px; border-color:#ddd; box-sizing:border-box;}

/* file */
.filebox+.filebox{margin-top:10px;}
.filebox form{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.filebox form input{text-indent:0}
.btn_wrap button{height:40px}
.btn_wrap button.addFile, .btn_wrap button.normal{min-width:80px; width:auto; padding:5px 10px; margin-bottom:10px; margin-right:10px; background:#952953; color:#fff; border-radius:5px;}
.btn_wrap button.delFile{height:auto; padding:5px 10px; background:#dc3545; color:#fff; border-radius:5px;}
.btn_wrap button.cancel{min-width:80px; width:auto; padding:5px 10px; margin-bottom:10px; background:#bcbcbc; color:#fff; border-radius:5px;}
.btn_wrap button.complete{background:#dd4132}
.text-right{text-align:right;}
.text-left{text-align:left; float:left;}

/* 파일 목록 */
.filelist{margin-top:20px; margin-bottom:20px;}
.filelist p{margin-bottom:10px; font-weight: 600;}
.filelist ul{padding:5px; border:1px solid #ddd;}
.filelist ul li, .filelist ul li span{font-weight:600; }
.filelist ul li{line-height:1.2rem;}
.filelist ul li a{color:#127ec3;font-weight:600;}

.cont h3{    padding-left: 15px; font-size:20px; font-weight:bold;}

.table_wrap{padding:0 15px;}
.table_wrap table{    table-layout: fixed;}
.table_wrap table th, .table_wrap table td{height:37px; padding:10px 5px; border:1px solid; box-sizing:border-box; line-height:1.2rem;}
.table_wrap table th{font-weight:bold; vertical-align:middle; }
.table_wrap table.thead_gray thead th, .table_wrap table tbody tr.total { background:#ededed}
.table_wrap table td.ta_c{text-align:center;}
.table_wrap table tbody tr.total td{font-weight:bold; text-align:center;}
.table_wrap table tbody tr td.score{text-align:center; vertical-align:middle;}
.table_wrap table tbody tr td#eval_score{text-align:center; vertical-align:middle;}										
.table_wrap table tbody tr td.type{vertical-align:middle;}
.table_wrap table tbody tr td.sign span{display:inline-block; margin-right:20px;}
.f_bold{font-weight:bold}
.ta_r{text-align:right;}
.va_m{vertical-align:middle;}
.color_red{color:red}

/* 사업 평가 */
/* .opi{width:92.5%;} */
.opi, .table_wrap table td.opi{min-height:175px; height:175px; vertical-align:middle}
.opi textarea{display:block; width:100%; height:100%; box-sizing:border-box; border:none; resize: none;}
.mt_10{margin-top:10px;}
.mt_20{margin-top:20px;}
.d-flex{display: -webkit-box;display: -ms-flexbox;display: flex;}
.justify-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}


.mt_0, .board-wrap.mt_0{margin-top:0}
.p_15{padding:0 15px;}


.cont .p_15 h2{padding-left:0;}


.m-board>.view>.view-head>.print {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../image/board-print.png);
    background-position: 50%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
}

.ta_c{text-align:center;}
